<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="keyword">
        <p v-for="user in filteredUsers">{{user}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                keyword: "",
                users: ['john', 'tony', 'tomas', 'duncan']
            },
            computed: {
                filteredUsers: function () {
                    return this.users.filter(user => user.includes(this.keyword));
                    // ユーザー名にkeywordが含まれているかどうかをチェックして、含まれていればtrue、含まれていなければfalseとなる
                    // filterメソッドはtrueの要素だけを取り出して、配列を返す
                }
            }
        })
    </script>

    <style>

    </style>
</body>

</html>