<!DOCTYPE html>
<html lang="ja">

<body>
    <div id="app">
        <input type="text" v-model="keyword">
        <table>
            <tr v-for="user in filteredUsers" :key="user">
                <td v-text="user"></td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                keyword: '',
                users: ['鈴木', '佐藤', '田中', '山田']
            },
            computed: {
                filteredUsers: function () {
                    return this.users.filter(user => user.indexOf(this.keyword) !== -1);
                }
            }
        });
    </script>
</body>

</html>
